{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true,
    "es6": true
  },
  "rules": {
    "semi": 1
  }
}
