body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  font-family: 'Roboto',
  sans-serif;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}